chromadb
docx2pdf
fpdf
langchain
langchain_community
langchain_neo4j
langchain_openai
marker-pdf
matplotlib
matplotlib_venn
neo4j
neo4j_graphrag
numpy
openai
opencv_python
opencv_python_headless
playsound
protobuf==3.20.0
PyAudio
pydub
PyQt6
PyQt6_sip
python-dotenv
pyttsx3
Requests
SpeechRecognition
transformers
google-cloud-speech
git+https://github.com/openai/whisper.git